# データの永続化
## SQLite
* 軽量データベースを実装するC言語のライブラリ
* サーバー用のプロセスを必要としない、組み込み型のデータベースエンジン
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [2]:
# DBファイルの保存先のパス
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

OperationalError: unable to open database file

## こうゆうデータベースを作成してみる
### car.db

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

In [3]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQL文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

エラーが発生しました: unable to open database file

NameError: name 'conn' is not defined

### データをDBに挿入する（単一レコード）

In [4]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名　VALUES (列に対応したデータをカンマ区切りで)；
    # 文字列データを挿入する場合は、文字列のシングルクォーテーションで挟む
    sql = 'INSERT INTO cars (id, name, price) VALUES (1, "370z", 7000000);'

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

エラーが発生しました: unable to open database file

NameError: name 'conn' is not defined

### データをDBに挿入（複数レコードの挿入）

In [5]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名　VALUES (列に対応したプレースホルダーをカンマ区切りで)；
    sql = 'INSERT INTO cars (id, name, price) VALUES (?, ?, ?);'

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビックType-R', 5000000),
    ]

    # SQL文の実行
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

エラーが発生しました: unable to open database file

NameError: name 'conn' is not defined

## DB内のデータを参照する

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名　VALUES (列に対応したデータをカンマ区切りで)；
    # 文字列データを挿入する場合は、文字列のシングルクォーテーションで挟む
    sql_select = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql_select)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        id, name, price = row
        print(id, name, price)

finally:
    #DBへの接続を閉じる
    conn.close()

2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビックType-R 5000000.0

### データの削除

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名　VALUES (列に対応したデータをカンマ区切りで)；
    # 文字列データを挿入する場合は、文字列のシングルクォーテーションで挟む
    sql = "DELETE FROM cars WHERE id = 1;"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

In [ ]:
path = ''
db_name = 'car.db'

try:
    # DB接続のオブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL(RDBを操作するための言語)カーソルオブジェクトの作成
    cur = conn.cursor()

    # SQL文の作成
    # データを挿入
    # INSERT INTO テーブル名　VALUES (列に対応したデータをカンマ区切りで)；
    # 文字列データを挿入する場合は、文字列のシングルクォーテーションで挟む
    sql = 'UPDATE cars SET price = ? WHERE id = ?;'

    # SQL文の実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()